body {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

#container {
    display: grid;
    border: solid black 1px;
    height: 540px;
    width: 540px;
    background-color: white;
    
}

h1 {
    margin: 20px;
}

#footer {
    /*border: 1px solid black;*/
    margin: 20px;
    width: 540px;
    display: flex;
    justify-content: space-between;
}

.slideContainer {
    display: flex;
    flex-direction: column;
}

.barValue {
    display: flex;
}

#myRange {
    width: 300px;
}

#sliderValue {
    font-weight: bold;
}

#randomRGB, #clear{
    border: solid black 3px;
    border-radius: 50%;
    width: 80px;
    color: white;
    font-weight: bold;
    background-color: rgb(223, 111, 130);
}

#newGrid {
    border-radius: 12px;
    border: solid black 3px;
    color: white;
    font-weight: bold;
    background-color: rgb(223, 111, 130);
}

#etchBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 650px;
    background-color: pink;
    border-radius: 16px;
    
}