body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    border: solid black 1px;
    height: auto;
    width: 20px;
    flex: 1 1 auto;*/
}

#container {
    position: relative;
    display: flex;
    height: 360px;
    width: 360px;
    flex-wrap: wrap;
    padding: 20px;
}